* {
  font-family: 微軟正黑體;
}

.cross {
  border: 1px solid #000;
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
}
.cross .line1, .cross .line2 {
  border: 1px solid #000;
  width: 100px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
}
.cross:hover .line1 {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross:hover .line2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.collapse {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  position: relative;
  display: inline-block;
}
.collapse .line1, .collapse .line2, .collapse .line3 {
  position: absolute;
  width: 100px;
  height: 10px;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
}
.collapse .line1 {
  top: 25%;
}
.collapse .line3 {
  top: 75%;
}
.collapse:focus .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.collapse:focus .line2 {
  opacity: 0;
}
.collapse:focus .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.block {
  border: 1px solid #000;
  width: 200px;
  height: 150px;
  padding: 15px;
}
.block h1, .block p {
  opacity: 0;
  transition-duration: 0.5s;
}
.block:hover p {
  transition-delay: 0.2s;
}
.block:hover h1, .block:hover p {
  opacity: 1;
}

.btn {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100px;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 210, 90, 50);
}

.btn:focus {
  animation: pulse 1s 1;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 0 50px rgba(90, 210, 90, 0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 50px rgba(90, 210, 90, 0);
  }
}

.left, .right {
  float: left;
}

.left p {
  line-height: 40px;
  margin: 0;
}

.right {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.scroller span {
    display: block; 
    color: #222;
}
.right .scroller {
  animation: scroll 3s infinite ease-in-out;
}

@keyframes scroll {
  0% {
    margin-top: 0;
  }
  33% {
    margin-top: -40px;
  }
  66% {
    margin-top: -80px;
  }
}

#ball {
  height: 90px;
  width: 110px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  transform: translatex(265px) translatey(211px);
  animation: bounce 1s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 10%;
}

@keyframes bounce {
  50% {
    transform: translatex(275px); 
    height: 105px;
    width: 95px;
    animation-timing-function: ease-in;
  }
  95% {
    height: 100px;
    width: 100px;
  }
}